body {
  margin: 0;
  padding: 0;
}

.container {
  border: 10px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  height: 150px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
