body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.navbar {
    background-color: #ffffff;
    text-align: right;
    padding-right: 200px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: inline-block;
}

li {
    display: inline-block;
    margin: auto 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
}

a:hover::after {
    content: '';
    border-bottom: 1px solid blue;
}