body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.navbar {
    background-color: #ffffff;
    text-align: right;
    padding-right: 100px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: inline-block;
}

li {
    display: inline-block;
    margin: auto 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: underline;
    color: #f66d6c;
    cursor: pointer;
}