body {
    margin: 0;
    padding: 0p;
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
}

.column {
    width: calc(50% - 10px);
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.column + .column {
    margin-left: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: inline;
}

li {
    color: black;
}

li:hover {
    list-style-type: underline;
    cursor: pointer;
}

.name {
    font-weight: bold;
}